body {
  background-color: rgb(161, 63, 62);
}

h1{
  text-align: center;
     font-family: "Madimi One", sans-serif;
     font-size: 300%;
}
p {
  text-align: center;
}

 .grid-container div{
  display: grid;
  grid-template-columns: auto auto auto;
  margin:20px;
  background-color: #dac0c0;
  color: #000000;
  padding: 10px;
  text-align: center;
   border-style: solid;
  border-width: 5px;
  display: grid;
}
